<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.colourtales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RedRidingHoodActivityEight"></activity>
        <activity android:name=".RedRidingHoodActivitySeven" />
        <activity android:name=".RedRidingHoodActivitySix" />
        <activity android:name=".RedRidingHoodActivityFive" />
        <activity android:name=".RedRidingHoodActivityFour" />
        <activity android:name=".RedRidingHoodActivityThree" />
        <activity android:name=".RedRidingHoodActivityTwo" />
        <activity
            android:name=".RedRidingHoodActivity"
            android:label="@string/category_red" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>